{{ partial "header.html" . }}
<div class="container">
<article>
  <div class="categories">
  {{ range $i, $e := .Params.categories }}
    {{ if $i }} &hercon; {{ end }}<a href="{{ relURL (print "/" $e | urlize) }}">{{ $e }}</a>
  {{ end }}
</div>

{{ if .Params.toc }}
{{ .TableOfContents }}
{{ end }}


<h1><span class="title">{{ .Title }}</span></h1>

<main>
{{ with .Params.images }}
  {{ with index . 0 }}
    {{ with resources.Get . }}
      <img src="{{ .RelPermalink }}" width="{{ .Width }}" alt="">
    {{ else }}
      {{ errorf "Unable to find image %s" . }}
    {{ end }}
  {{ end }}
{{ end }}

{{ .Content }}

{{ with .Params.onward_url }}
  <a href="{{.}}" target="_blank">Läs hela artikeln</a>
{{ end }}
</main>

{{ partial "prev_next.html" . }}
</article>
</div>
{{ partial "footer.html" . }}